<ol>
  {% for publication in site.data.publications %}
    <li>
      <strong>{{ publication.title }}</strong>, <em>{{ publication.journal }}</em> ({{ publication.year }}) <br>
      {% assign authors_list = publication.authors | split: "," %}
      {% assign filtered_authors = authors_list | where_exp: "author", "author != 'Yong-Woo Lee'" %}
      {% if filtered_authors.size > 0 %}
        (with 
        {% for author in filtered_authors %}
          {% assign author = author | strip %}
          {% assign coworker = site.data.coworkers | where: "name", author | first %}
          {% if coworker %}
            <a href="{{ coworker.website }}" target="_blank">{{ author }}</a>
          {% else %}
            {{ author }}
          {% endif %}
          {% if forloop.last == false %}, {% endif %}
        {% endfor %}
        )
      {% endif %}
      <a href="{{ publication.link }}" target="_blank">[Journal Link]</a>
      {% if publication.arxiv %}
        , <a href="{{ publication.arxiv }}" target="_blank">[arXiv Link]</a>
      {% endif %}
    </li>
  {% endfor %}
</ol>
