<ol>
  {% for publication in site.data.publications %}
    <li>
      <strong>{{ publication.title }}</strong>,
      {% if publication.journal %}
        <a href="{{ publication.journalLink }}" target="_blank"><i>{{ publication.journal }}</i></a>
        ({{ publication.year }})
      {% else %}
        <i>preprint</i>
      {% endif %}
      <br>
      {% if publication.authors != "Yong-Woo Lee" %}
        with {% for author in publication.authors %}
          {% if author != "Yong-Woo Lee" %}
            {{ author }}, 
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if publication.arxiv %}
        {% assign parts = publication.arxiv | split: "/" %}
        {% assign arxiv_id = parts | last %}
        <a href="{{ publication.arxiv }}" target="_blank"><i>arXiv:{{ arxiv_id }}</i></a>
      {% endif %}
    </li>
  {% endfor %}
</ol>
