<ol>
  {% for talk in site.data.talks %}
    <li>
      [{{ talk.date }}] 
      {% if talk.type == "poster" %}
        <strong>(Poster)</strong>
      {% endif %}
      {% if talk.link != "" %}
        <a href="{{ talk.link }}" target="_blank">{{ talk.title }}</a>
      {% else %}
        {{ talk.title }}
      {% endif %},
      {{ talk.location }}.
    </li>
  {% endfor %}
</ol>

<!--
<h2>Upcoming Talks</h2>
<ul>
  {% assign upcoming = site.data.talks | where_exp: "item", "item.date contains '??' or item.date > site.time" %}
  {% if upcoming.size > 0 %}
    {% for talk in upcoming %}
      <li>
        [{{ talk.date }}] 
        {% if talk.link and talk.link != "" %}
          <a href="{{ talk.link }}">{{ talk.title }}</a>
        {% else %}
          {{ talk.title }}
        {% endif %}
        {{ talk.location }}
      </li>
    {% endfor %}
  {% else %}
    <li>No upcoming talks.</li>
  {% endif %}
</ul>


<h2>Presented Talks</h2>
<ul>
  {% assign past = site.data.talks | where_exp: "item", "item.date <= site.time and item.date contains '??' == false" %}
  {% if past.size > 0 %}
    {% for talk in past %}
      <li>
        [{{ talk.date }}] 
        {% if talk.link and talk.link != "" %}
          <a href="{{ talk.link }}">{{ talk.title }}</a>
        {% else %}
          {{ talk.title }}
        {% endif %}
        {{ talk.location }}
      </li>
    {% endfor %}
  {% else %}
    <li>No past talks.</li>
  {% endif %}
</ul>
-->
